{% include 'core/header.html' %} 
<div class="index">
  <div class="container">
    {% for d in data %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="card">
              {% if d.image %}
              <img class="card-img" src="{{ d.image.url }}" alt="Bologna" height="450px">
              {% endif %}
              <div class="card-img-overlay">
                <a href="{% url 'edit_post' d.id %}" data-id = "{{ d.id }}" id = "{{ d.id }}" class="btn btn-light btn-sm">Edit</a>
              </div>
              <div class="card-body">
                <h4 class="card-title">{{d.title}}</h4>
                <small class="text-muted cat">
                  <i class="far fa-clock text-info"></i> by: {{d.author}}
                  <i class="fas fa-users text-info"></i> {{d.published_date}}
                </small>
                <p class="card-text">{{d.content}}</p>
              </div>
              <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                <div class="views">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</body>
</html>